<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Functional">
    <test name="Registration and Login">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://uprightautomation.online/registration/"></parameter>

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoke"/>-->
<!--            </run>-->
<!--        </groups>-->



        <classes>
           <class name="testClasses.RegistrationUATest"></class>
            <class name="testClasses.LoginUATest"></class>

        </classes>
    </test>
    
    
    
</suite>